.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.antlr
.idea
node_modules
.DS_Store
release
docker/.env
jdbc/lib/classes
jdbc/lib/ojdbc11.jar
jdbc/lib/json.jar
jdbc/lib/kerberos-jdbc-bridge.jar
